<!DOCTYPE html>
<html lang="en">

<head>
  <title>jam-webapp main</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="main_menu.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">jam-webapp</a>
    </div>

    <!-- main buttons on left navbar -->
    <ul class="nav navbar-nav">
      <li><a href="#">New Session</a></li>
      <li><a href="#">Settings</a></li>
    </ul>

    <!-- profile specific options on right navbar -->

    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
    </ul>

  </div>
</nav>

<body>
  What session would you like to join?<br/>
  <input id="session-name-input" type="text" size="100"/><br/>
  <input id="session-name-submit" type="button" value="Join"/><br/>

  <script>
    document.querySelector('#session-name-input').focus();
    document.querySelector('#session-name-input').onkeyup = function(e) {
      if (e.keyCode === 13) { // enter, return
        document.querySelector('#session-name-input').click();
      }

      documnet.querySelector('#session-name-submit').onclick = function(e) {
        var sessionName = document.querySelector('#session-name-input').value;
        window.location.pathname= '/session/' + sessionName + '/';
      };
  </script>


</body>
</html>
